*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    background-color: aqua;
}

#container {
    max-width: 100%;
    max-height: 100%;
    /* background-color: blueviolet; */
}

h1 {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    width: 125px;
    height: 125px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    cursor: pointer;
}
/* erase beside borders */
.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
    border-top: none;
}
.box:nth-child(3n + 1) {
    border-left: none;
}
.box:nth-child(3n + 3) {
    border-right: none;
}
.box:last-child,
.box:nth-child(7),
.box:nth-child(8) {
    border-bottom: none;
}

#container-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}